.header {
    display: flex;
    justify-content: space-between;
}
.add_button_box {
    display: flex;
    flex-direction: column-reverse;
}
.paginator_box {
    display: block;
    width: 100%;
    margin: 25px 0;
    border-style: solid;
    border-color: #ece3be;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}
.paginator_box_top {
    border-width: 0 0 4px 0;
}
.paginator_box_bottom {
    border-width: 4px 0 0 0;
}

.cards {
    display: block;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    /*background: #C0D61A;*/
    /*border: 10px solid #C0D61A;*/
    /*box-shadow: 0px 2px 2px #99b9fd;*/
}

@media (min-width: 1201px) {
    .cards {
        width: 800px;
    }
    .header {
        padding: 20px 160px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) {
    .cards {
        width: 70%;
    }
    .header {
        padding: 20px 100px;
    }
}

@media (max-width: 640px) {
    .cards {
        width: 470px;
    }
    .header {
        display: block;
        padding: 20px;
    }
    .add_button_box {
        margin-top: 20px;
    }

}