.box {
    padding: 10px;
    display: block;
    margin: 10px auto;
}

@media (min-width: 1201px) {
    .box {
        width: 600px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) {
    .box {
        width: 500px;
    }
}

@media (max-width: 640px) {
    .box {
        width: 360px;
    }
}
